/* Filename: index.css */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root
{
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body
{
    font-family: 'Playfair Display', serif;
    background: #050312;
    color: #fdf7e2;

    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 1.55;
    letter-spacing: 0.035em;
}
